<%- include('../_partial/_header') -%>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <p class="mb-0" style="color: #1b4d3e;font-size:20px;font-weight: bold;"><%= recipe.title %></p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p style="font-size:16px"><b>Prep Time:</b> <%= recipe.prepareTime %> mins</p>
                <p style="font-size:16px"><b>Cook Time:</b> <%= recipe.cookingTime %> mins</p>
                <p style="font-size:16px"><b>Calories:</b> 3000 cal</p>
                <p style="font-size:16px"><b>Difficulty:</b> <%= recipe.difficultLevel %></p>
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0" style="font-size:16px">
                    <label>Like</label>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>   
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/views/images/food1.jpg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="/views/images/food2.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="/views/images/food3.jpg" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel" 
                   data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="carousel-control right" href="#myCarousel" 
                   data-slide="next">&rsaquo;</a>
            </div>
            <!-- <img src="/images/food1.jpg" alt="project-image" class="rounded"> -->
            <div class="project-info-box">
                <p style="font-size:16px"><b>Categories: </b> <% for (var i = 0; i < recipe.category.length; i++) { %>
                    <%= recipe.category[i]  %> 
                <% } %></p>
                <p style="font-size:16px"><b>Author: </b> <%=currentUser.username %></p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
    <div class="ingredient-box">
        <p style="font-size:16px"><b>Ingredients:</b> Potatoes, beef, totatoes, red onion, cabbage</p>
    </div>
    <div class="instruction-box">
        <p style="font-size:16px"><b>Instructions: </b><%= recipe.cookingSteps%></p>
    </div>
</div>
<%- include('../_partial/_footer') -%>
