<%- include("../_partial/_header") -%>
<div class="row">
    <div class="col-md-6">
        <h1>Edit Recipe: <%= recipe.title%></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/recipes/update" method="POST" enctype="multipart/form-data">
            <div class="form-group">

                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" placeholder="Title" id="inputTitle" name="title" value="<%= recipe.title%>">
            </div>

            <div class="form-group">
                <label for="inputDescription">Content</label>
                <textarea class="form-control" rows="3" id="inputDescription" placeholder="Description" name="description"><%= recipe.description%></textarea>
            </div>

             <div class="form-group">
                <label for="imageUpload">Upload</label>
                <input type="file" name = "image"/>
            </div>

            <input type="hidden" id="recipeId" name="recipeId" value="<%= recipe._id%>"/>
            
            <div class="form-group">
                <button type="submit" class="btn btn-default" href="#" role="button">Update</button>
            </div>

    </div>

    </form>
</div>


<%- include("../_partial/_footer") -%>