<%- include("../_partial/_header") -%>
<div class="float-container bg">

    <div class="col-md-10 col-sm-6 col-xs-12">
        <form action="/recipes/update" method="POST" enctype="multipart/form-data">
            <% error.forEach(function (err) { %>
                <div class="alert alert-danger" role="alert" style="text-align:center;">
                    <%= err.msg %>
                </div>
                <% }); %>
                
                <% if(info && info.length > 0) { %>
                    <div class="alert alert-info" role="alert">
                        <%= info %>
                    </div>
                <% } %>
            <div class="float-childl">

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Title</span>
                    <input type="text" class="form-control" placeholder="Title" name="title" aria-describedby="basic-addon1" value="<%= recipe.title%>">
                </div>
                <br />

                <div class="input-group">
                    <span class="input" style="background-color:white; color: grey; font-weight: bold; font-size: large" id="basic-addon1">Category</span><br /><br />
                        <% if(recipe.category.includes('Breakfast')){ %>
                            <input type="checkbox" name="category" value="Breakfast" checked>
                        <% }else{ %>
                            <input type="checkbox" name="category" value="Breakfast">
                         <% } %>
                            <label for="breakfast">Breakfast</label><br />
                        <% if(recipe.category.includes('Lunch')){ %>
                            <input type="checkbox" name="category" value="Lunch" checked>
                        <% }else{ %>
                            <input type="checkbox" name="category" value="Lunch">   
                        <% } %>
                            <label for="lunch">Lunch</label><br />
                        <% if(recipe.category.includes('Dinner')){ %>
                            <input type="checkbox" name="category" value="Dinner" checked>
                        <% }else{ %>
                            <input type="checkbox" name="category" value="Dinner">                               
                        <% } %>
                            <label for="dinner">Dinner</label><br />
                        <% if(recipe.category.includes('Dessert')){ %>
                            <input type="checkbox" name="category" value="Dessert" checked>
                         <% }else{ %>
                            <input type="checkbox" name="category" value="Dessert">                            
                        <% } %>
                        <label for="dessert">Dessert</label><br />
                        <% if(recipe.category.includes('Drinks')){ %>
                            <input type="checkbox" name="category" value="Drinks" checked>
                         <% }else{ %>
                            <input type="checkbox" name="category" value="Drinks">      
                        <% } %>
                        <label for="drinks">Drinks</label><br />
                        <% if(recipe.category.includes('Healthy')){ %>
                            <input type="checkbox" name="category" value="Healthy" checked>
                        <% }else{ %>
                            <input type="checkbox" name="category" value="Healthy">        
                        <% } %>
                        <label for="healthy">Healthy</label><br />
                        <% if(recipe.category.includes('Quick_Easy')){ %>
                            <input type="checkbox" name="category" value="Quick_Easy" checked>
                         <% }else{ %>
                            <input type="checkbox" name="category" value="Quick_Easy">                     
                        <% } %>
                        <label for="quickeasy">Quick&Easy</label><br />
                </div>
            </div>
            <br />

            <div class="float-childr">

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">PrepareTime (minutes)</span>
                    <input type="text" name="prepareTime" class="form-control" placeholder="PrepareTime" aria-describedby="basic-addon1" value="<%= recipe.prepareTime %>">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">CookingTime (minutes)</span>
                    <input type="text" name="cookingTime" class="form-control" aria-describedby="basic-addon1" value="<%= recipe.cookingTime %>">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Ingredient</span>
                    <input type="text" name="ingredient" class="form-control" aria-describedby="basic-addon1" value="<%= recipe.ingredient %>">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Steps</span>
                    <textarea name="cookingSteps" id="cookingSteps" rows="4" cols="50" class="form-control" aria-describedby="basic-addon1"><%=recipe.cookingSteps%></textarea>
                </div>
                <script>
                     CKEDITOR.replace( 'cookingSteps' );
                </script>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Difficult Level</span>
                    <select name="difficultLevel" id="difficultLevel" class="form-control" aria-describedby="basic-addon1">
                        <% if(recipe.difficultLevel == 'supereasy'){ %>
                            <option value="supereasy" selected>super easy</option>
                        <% }else { %>
                            <option value="supereasy">super easy</option>
                        <% } %>
                        <% if(recipe.difficultLevel == 'supereasy'){ %>
                            <option value="easy" selected>easy</option>
                        <% }else { %>
                            <option value="easy">easy</option>
                        <% } %>
                        <% if(recipe.difficultLevel == 'normal'){ %>
                            <option value="normal" selected>normal</option>
                        <% }else { %>
                            <option value="normal">normal</option>
                        <% } %>
                        <% if(recipe.difficultLevel == 'hard'){ %>
                            <option value="hard" selected>hard</option>
                        <% }else { %>
                            <option value="hard">hard</option>
                        <% } %>
                        <% if(recipe.difficultLevel == 'superhard'){ %>
                            <option value="superhard" selected>superhard</option>
                        <% }else { %>
                            <option value="superhard">superhard</option>
                        <% } %>
                    </select>
                </div>
                <br />
                <div class="input-group">
                    <input type="file" name="image" accept="image/*" multiple>
                </div>
                <br />

                <input type="hidden" id="recipeId" name="recipeId" value="<%= recipe._id%>" />

                <div class="form-group">
                    <p>
                    <button href="recipes/cancel/<%=recipe._id%>" class="btn btn-default" style = "background-color:  #1b4d3e; color: white;" role="button">Cancel</button> 
                    <button type="submit" class="btn btn-default" style = "background-color: #1b4d3e; color: white;  float: right" href="#" role="button">Update</button>                     
                    </p>
                </div>

            </div>

        </form>
    </div>
</div>


<%- include("../_partial/_footer") -%>
