<%- include("../_partial/_header") -%>

<div class= "row">
	<div class="col-md-6" style="margin-bottom:10px ; margin-left:30px; margin-top:50px">
		<a href="/recipes/add" tpye="button" class="btn btn-default" style="background-color: #1b4d3e; color:#fff;">New Recipe</a>
	</div>
</div>
<br />
<!-- show food recipe -->
<!-- List all the recipes. variable recipes is the first variable in {recipes: recipes} in recipe.js -->
<% recipes.forEach(function(recipe) { %>
    <div class="col-sm-4 col-md-4">
        <div class=" croprecipe thumbnail">
            <% if(recipe.image != null) {%>
                <% image_url = (typeof recipe.image[0] === 'string') ? recipe.image[0] : recipe.image[0].path %>
                <a href="recipes/detail/<%= recipe._id %>"> <img src="<%= '/' + image_url %>" height="250px" ></a>
            <% }else{ %>
            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTkyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTcyYWQ2ZmYwZmQgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNzJhZDZmZjBmZCI+PHJlY3Qgd2lkdGg9IjE5MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI3MC4wNTQ2ODc1IiB5PSIxMDQuNTYwOTM3NSI+MTkyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                    alt="logo"
                    style="height:200px;width:100%;display:block">
            <% } %>
            <div class="caption">
                <h3 style="text-align:center;"><%= recipe.title %></h3>
                <p> 
                    <a href="recipes/delete/<%=recipe._id%>" onclick="return confirm('Are you sure you want to delete this recipe?');" class="btn btn-primary" style = "background-color:steelblue;" role="button">Delete</a>
                    <a href="recipes/update/<%=recipe._id%>" style= "float: right" class="btn btn-primary" role="button">Edit</a>                     
                </p>
            </div>
        </div>
    </div>
    <% }) %>
    

<%- include("../_partial/_footer") -%>